*
{
   margin-right: 0px;
    -webkit-box-sizing : border-box;
   -moz-box-sizing : border-box;
    box-sizing : border-box;
}
body
{
   background: #e7e7e7;
}
/*start upperbar*/
.upper-bar
{
   background-color: #741a40;
   color: #cec6c9;
   padding: 10px;
   
}
.upper-bar nav ul
{
   margin-left: 300px;
}
.upper-bar nav ul li .form-control{
    display: none;
    width: 300px;
    height: 30px;
    border-color: #F7F5F6;
    border-radius: 0px;
    background-color: #F7F5F6;
}
.upper-bar nav ul li .button{
    display: none;
    color: #a01678;
    background-color: #F7F5F6;
    border-color: #F7F5F6;
    width: 30px;
    height: 30px;
    border-radius: 0px;
}

.upper-bar nav ul li a
{
    color: #cec6c9;
    margin-right: 15px;
    margin-left: 15px;
}
.upper-bar nav ul li a:hover
{
   color: #d8d9d8;
}
.upper-bar nav ul li  img
{
    color: #FFF;
    margin-right: 4px;
    opacity: 0.9;
}
.upper-bar nav ul li  img:hover
{
   opacity: 1;
}


/*End upper bar*/

/*Start nav bar*/
.nav-bar .bg-light
{
    background-color: #FFF !important;
    padding-top: 0px;
    padding-bottom: 0px;
}
.nav-bar .logo
    {
        height:100px;
        width:180px;
        margin-right: 130px;
    }
.nav-bar .navbar-nav li a
{
   color: #111;
   font-weight: bold;
    margin: 10px;
}
.nav-bar .navbar-nav .dropdown .dropdown-menu {
    background-color: #cec6c9;
    color: #111;
    width: max-content;
}
      

  
 .nav-bar .navbar-nav .dropdown .dropdown-menu li a
    {
      display: block;
      left: 0;
      right: auto;
      padding: 7px 20px;
    }
.nav-bar .navbar-nav .dropdown .dropdown-menu li a:hover,
.nav-bar .navbar-nav .dropdown .dropdown-menu li a:focus
{
   background-color: #d8d9d8;
    padding-left:30px;
}
    /*End nav bar*/
     
   /*start Slider*/
   .slider
   {
      background-color: #DDD;
   }
   .slider .carousel-item
   {
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
   }
   .slider .carousel-one
   {
      background-image: url('../images/fee/00.jpg');
   }
   .slider .carousel-two
   {
      background-image: url('../images/fee/01.jpg');
   }
   .slider .carousel-three
   {
      background-image: url('../images/fee/02.jpg');
   }
   .slider .carousel-indicators li{
      height: 8px;
      cursor: pointer;
   }
   /*End Slider*/
   /*about-main*/

.frame
{ 
    box-shadow: inset 0 0 0 6px #741a40;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    height: 330px;
    width: 430px;
    margin: 70px
}
.frame img
{
    max-width: 100%;
    -webkit-transform: translate(30px, 30px);
    -ms-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
    height: 330px;
    width: 430px;
   
}
   .about-main h2{
      margin-top: 80px;
      color: #741a40;
      font-weight: bold;
      text-align:left;
   
   }
   
   /*Strat cardes*/
   .card
   {
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 30px;
    border-color: #741a40;
    box-shadow: 7px 8px 8px -5px #818284;
    background: #ffffff;
    min-width: 330px;
    border-radius: 0px;

    
   }
   
   .card-body
   {
          min-width: 360px;
          min-height: 120px;
   }
   .card .divider
   {
    height: 1px;
   padding: 3px;
    overflow: hidden;
    background-color: #741a40;
   }
   .card h3
   {
      font-weight: bold;
      color: #741a40;
   }
   .speed-links .card p
   {
      height: 222px;
      padding-right: 20px;
      padding-left: 10px;
      color: #741a40;
   }
  .speed-links .card img
   {
      border-radius: 0px;
   }
  .speed-links .card .btn-primary
   {
      background-color: #741a40;
      border-color: #741a40;
      margin-left: 80px;
      margin-top: 35px;
      position: absolute;
      box-shadow: 7px 8px 8px -5px #818284;
      border-radius: 0px;
   }
   
   .speed-links .card  .long
   {
      margin-top: 0px;
   }
   /*end cardes*/
   /*start news slider*/
   
   h1
   {
   text-align: center;
    padding-top: 100px;
    
   }
   
  .all-news
{
   color: #111;
   font-weight: bold;
    position: relative;
    margin-left: 1060px;
   
}
 .News-slider img{
   height: 183.67px;
 }

   .News-slider .card
   {
      margin-top: 0px;
      margin-bottom: 20px
   }
   
   .News-slider .card-body
   {
          min-width: 360px;
         height: 350px;
   }
   .News-slider .card .divider
   {
    height: 1px;
   padding: 3px;
    overflow: hidden;
    background-color: #741a40;
   }
   .News-slider .card h3
   {
      margin-right:  5px;
      font-weight: bold;
      color: #741a40;
   }
  .News-slider .card .sub-title
  {
   color: #818288;
  }
   .News-slider .card p
   {
      height:222px; 
      padding-right: 20px;
      padding-left: 10px;
      color: #a4a5a6;
   }
 
  .News-slider .card .btn-primary
   {
      background-color: #741a40;
      border-color: #741a40;
      margin-left: 100px;
      
      position: absolute;
      box-shadow: 7px 8px 8px -5px #818284;
      border-radius: 0px;
   }
   
   .News-slider .card  .long
   {
      margin-top: 520px;
   }
   
   .News-slider .carousel-indicators
   {
     top: 670px;
      position: relative;

   }
   .News-slider .carousel-indicators li{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      cursor: pointer;
      background-color: #818284;
   }
 .News-slider  .carousel-control-prev-icon
 {
   width: 30px;
   height: 30px;
   position: relative;
   top: 380px;
   color: #818284;
 }
 .News-slider .carousel-control-next-icon
 {
   width: 30px;
   height: 30px;
   position: relative;
   top: 380px;
   color: #818284;
 }
/*end news slider*/
/*start event slider*/
.all-events
{
    color: #111;
    font-weight: bold;
    position: relative;
    margin-left: 1060px;
   
}
 .events-slider .card
   {
      margin-top: 0px;
      margin-bottom: 120px
   }
  
    .events-slider .card-body
   {
          min-width: 360px;
          min-height: 122px;
   }
   
   .events-slider .card h3
   {
      font-weight: bold;
      color: #741a40;
      margin: 10px;
   }
  .events-slider .card .sub-title
  {
   color: #818288;
  }
   .events-slider .card p
   {
   
      height: 140px;
      padding-right: 20px;
      padding-left: 10px;
      color: #a4a5a6;
   }
.events-slider .top-date
{
   min-width: 120px;
   height: 38px;
   background-color: #796300;
    border-color: #796300;
    color: #FFF;
    position: relative;
    margin-left: 30px;
    box-shadow: 7px 8px 8px -5px #818284;
    border-radius: 0px;
}

  .events-slider .card .long
   {
      background-color: #796300;
      border-color: #796300;
      margin-left: 105px;
      margin-top: 320px;
      position: absolute;
      box-shadow: 7px 8px 8px -5px #818284;
      border-radius: 0px;
   }
   
   .events-slider .carousel-indicators
   {
      top: 470px;
      position: relative;

   }
   .events-slider .carousel-indicators li{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      cursor: pointer;
      background-color: #818284;
   }
 .events-slider .carousel-control-prev-icon
 {
   width: 30px;
   height: 30px;
   position: relative;
   top: 230px;
   color: #818284;
 }
 .events-slider .carousel-control-next-icon
 {

   width: 30px;
   height: 30px;
   position: relative;
   top: 230px;
   color: #818284;
 }
.events-slider img
{
    position: relative;
    margin-top: -150px
}

/*End event slider*/
/*start form*/
 .request-form
     {
        margin-left: 200px;
     }
     
     .request-form h3
     {
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 20px;
     }
/*End form*/
/*start footer*/
  .footer
     {
        padding-top:10px; 
        background: #818284;
        color: #FFF;
     }
     .footer h3{
        color:#741a40;
        letter-spacing: 1px;
        margin: 30px 0 20px;
     }
     .footer .three-col
     {
      overflow: hidden;
      
     }
     .footer .three-col li
     {
      width: 33.333%;
      float: left;
      padding: 5px 0;
     }
     .footer .social-list
     {
        overflow: hidden;
        margin-left: 150px;
        margin: 20px 0 10px;
              
     }
     .footer .social-list li
     {
        float:right;
        margin-right: 5px;
        opacity: 0.7;
        -webkit-transition:padding 0.7s ease;
        -moz-transition:padding 0.7s ease;
        -o-transition:padding 0.7s ease;
        transition:padding 0.7s ease;
     }
     .footer .social-list li:hover
     {
        opacity: 1;
         
     }
     .footer .footer-logo .logo
     {
      margin-left: 300px;
     }
     .footer .copyright
     {
        background: #747475;;
        color: #AAA;
        padding: 15px 0;
        margin-top: 20px;
        font-size: 14px;
     }
     /*end footer*/